# Python
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/*.db
backend/*.sqlite
backend/migrations/versions/*.pyc

# Node
frontend/node_modules/
frontend/dist/

# OS / Environments
.DS_Store
.env
.idea/
.vscode/
